@use '../styles/variables' as *;

.widget-button {
  // reset
  appearance: none;

  background: none;
  border: none;
  outline: none;
}

.widget-button {
  $this: &;

  --size: var(--group-size, var(--size-normal));

  --color: var(--group-color, var(--color-major));

  --label-color: var(--color);
  --icon-size: calc(var(--size) / 2);

  flex-shrink: 0;

  height: var(--size);

  padding: 0 calc(var(--size) / 2);
  margin: 0;
  border: solid var(--border-size) transparent;
  border-radius: var(--border-radius, 0);

  color: var(--label-color);
  font-family: inherit;
  font-size: calc(var(--size) * 0.4375);
  line-height: calc(var(--size) - (var(--border-size) * 2));
  text-transform: uppercase;
  white-space: nowrap;

  cursor: pointer;

  transition: background-color 0.2s, border-color 0.2s, color 0.2s;

  &:hover,
  &:focus {
    --color: var(--color-major-toggle);
    z-index: 4;
  }

  @keyframes active {
    0% { opacity: 0.32; }
    100% { opacity: 1; }
  }

  &:active {
    animation: active 0.2s;
  }

  &.active,
  &.running {
    cursor: default;
    &:hover,
    &:focus {
      --color: var(--color-major);
    }
  }

  &.disabled, &:disabled {
    --color: var(--color-disabled);
    &:hover,
    &:focus {
      --color: var(--color-disabled);
    }
  }

  &.active,
  &.running,
  &.disabled,
  &:disabled {
    &:active {
      animation: none;
    }
  }

  &.hidden {
    display: none;
  }

  &.minor,
  &.button {
    border-color: var(--color);
  }

  &.major,
  &.submit {
    --label-color: #{$color-lightest};

    background-color: var(--color);
    border-color: var(--color);
  }

  &.rounded {
    --border-radius: var(--border-radius-rounded);
  }

  &.capsule {
    --border-radius: calc(var(--size) / 2);
  }

  &.line {
    background-color: transparent;
    border-top-color: transparent;
    border-right: none;
    border-left: none;
    color: var(--color);
    &.major{
      background-color: var(--color);
      color: var(--label-color);
    }
  }

  &.mini {
    text-transform: capitalize;
    font-size: 12px;
  }

  &.micro {
    text-transform: lowercase;
    font-size: 10px;
  }

  &.atom {
    height: auto;
    padding: 0;
    background: none;
    border: none;
    color: var(--color);
    font-size: inherit;
    line-height: inherit;
    text-transform: none;
  }

  &.block {
    display: block;
    width: 100%;
    text-align: center;

    & + & {
      margin-top: var(--gap, var(--gap-1));
    }
  }

  &.mute {
    --color: var(--color-mute);

    &:hover,
    &:focus {
      --color: var(--color-minor-toggle);
    }
  }

  &.warning {
    --color: var(--color-warning);

    &:hover,
    &:focus {
      --color: var(--color-warning-toggle);
    }
  }

  &.danger {
    --color: var(--color-danger);

    &:hover,
    &:focus {
      --color: var(--color-danger-toggle);
    }
  }

  &.error {
    --color: var(--color-error);

    &:hover,
    &:focus {
      --color: var(--color-error-toggle);
    }
  }

  &.icon-only {
    width: var(--size);
    overflow: hidden;
    padding: 0;
    text-align: center;

    #{$this}__label, [class$="__label"] {
      display: none;
    }
  }

  &__icon {
    margin-right: calc(var(--size) * 0.25);

    vertical-align: calc(var(--size) * -0.2);

    #{$this}.icon-only & {
      margin: 0;
    }

    #{$this}.atom &,
    #{$this}.micro & {
      display: none;
    }
  }

  @keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  &__running-icon {
    transform-origin: center;
    animation: rotate 2s infinite linear;
  }

  & + & {
    .gap-0 > .widget-group__inner > & {
      margin-left: calc(var(--border-size) * -1);
    }
  }
}
