.widget-button {
  // reset
  appearance: none;

  padding: 0;
  background: none;
  border: none;
  outline: none;
  margin: 0;

  font-size: 100%;
  font-family: inherit;
  text-transform: uppercase;
  white-space: nowrap;

  cursor: pointer;
}

.widget-button {
  $this: &;

  --size: var(--group-size, var(--size-normal));
  --color: var(--color-major);
  --label-color: var(--color);
  --icon-size: calc(var(--size) * 0.5);

  flex-shrink: 0;

  height: var(--size);

  padding: 0 calc(var(--size) / 2);
  border: solid $global-border-size transparent;

  color: var(--label-color);
  font-size: calc(var(--size) / 2 - var(--size) / 16);
  line-height: calc(var(--size) - #{$global-border-size * 2});

  &:hover,
  &:focus {
    --color: var(--color-major-toggle);
  }

  @keyframes active {
    0% { opacity: .32; }
    100% { opacity: 1; }
  }

  &:active {
    animation: active 0.2s;
  }

  &.active,
  &.running {
    cursor: default;
    &:hover,
    &:focus {
      --color: var(--color-major);
    }
  }

  &.disabled {
    --color: var(--color-disabled);
    &:hover,
    &:focus {
      --color: var(--color-disabled);
    }
  }

  &.active,
  &.running,
  &.disabled {
    &:active {
      animation: none;
    }
  }

  &.hidden {
    display: none;
  }

  &.minor,
  &.button {
    border-color: var(--color);
  }

  &.major,
  &.submit {
    --label-color: #{$color-lightest};

    background-color: var(--color);
    border-color: var(--color);
  }

  &.minor,
  &.major {
    text-decoration: none;
  }

  &.rounded {
    border-radius: $global-border-radius;
  }

  &.capsule {
    border-radius: calc(var(--size) / 2);
  }

  &.line {
    background-color: transparent;
    border-top-color: transparent;
    border-right: none;
    border-left: none;
    color: var(--color);
  }

  &.mini {
    text-transform: capitalize;
  }

  &.micro {
    text-transform: lowercase;
    line-height: $size-base * 1.25 !important;
  }

  &.atom {
    height: auto;
    padding: 0;
    background: none;
    border: none;
    color: var(--color);
    font-size: inherit;
    line-height: inherit;
    text-transform: none;
  }

  &.block {
    display: block;
    width: 100%;
    text-align: center;

    &+& {
      margin-top: var(--gap, var(--gap-1));
    }
  }

  &.mute {
    --color: var(--color-minor);

    &:hover,
    &:focus{
      --color: var(--color-major-toggle);
    }
  }


  &.warning {
    --color: var(--color-warning);

    &:hover,
    &:focus{
      --color: var(--color-warning-toggle);
    }
  }

  &.danger {
    --color: var(--color-danger);

    &:hover,
    &:focus {
      --color: var(--color-danger-toggle);
    }
  }

  &.error {
    --color: var(--color-error);

    &:hover,
    &:focus {
      --color: var(--color-error-toggle);
    }
  }

  &.icon-only {
    width: var(--size);
    overflow: hidden;
    padding: 0;

    #{$this}__label {
      display: none;
    }
  }

  &__icon {
    margin-right: calc(var(--size) * .25);

    vertical-align: calc(var(--size) * -0.2);

    #{$this}.icon-only & {
      margin: 0;
    }

    #{$this}.atom &, #{$this}.micro & {
      display: none;
    }

  }

  @keyframes rotate {
    0%{ transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  &__running-icon{
    transform-origin: center;
    animation: rotate 2s infinite linear;
  }
}