// Grayscale
$color-darkest:  #000;
$color-gray-1:   #161616; $color-dark:    $color-gray-1;
$color-gray-3:   #333;    $color-gray-80: $color-gray-3;
$color-gray-6:   #666;    $color-gray-60: $color-gray-6;
$color-gray-9:   #999;    $color-gray-40: $color-gray-9;
$color-gray-c:   #CCC;    $color-gray-20: $color-gray-c;
$color-gray-e:   #E6E6E6; $color-gray-10: $color-gray-e;
$color-gray-f:   #F4F4F4; $color-light:   $color-gray-f;
$color-lightest: #FFF;

// Flat UI Colors 2 -- American Palette
$color-prunus-avium:        #E84393;
$color-pico-8-pink:         #FD79A8;
$color-chi-gong:            #D63031;
$color-pink-glamour:        #FF7675;
$color-orangeville:         #E17055;
$color-first-date:          #FAB1A0;
$color-bright-yarrow:       #FDCB6E;
$color-sour-lemon:          #FFEAA7;
$color-mint-leaf:           #00B894;
$color-light-greenish-blue: #55EFC4;
$color-robins-egg-blue:     #00CEC9;
$color-faded-poster:        #81ECEC;
$color-electron-blue:       #0984E3;
$color-green-darner-tail:   #74B9FF;
$color-exodus-fruit:        #6C5CE7;
$color-shy-moment:          #A29BFE;
$color-dracula-orchid:      #2D3436;
$color-american-river:      #636E72;
$color-soothing-breeze:     #B2BEC3;
$color-city-lights:         #DFE6E9;


$color-major: $color-electron-blue; // temp
$color-major-hover: $color-green-darner-tail; // temp

$color-minor: $color-gray-40;

:root{
  --color-major: #{$color-exodus-fruit};
  --color-major-hover: #{$color-shy-moment};
}

@mixin light {
  --color-darkest:  #{$color-darkest};
  --color-gray-1:   #{$color-gray-1};   --color-dark:    #{$color-dark};
  --color-gray-3:   #{$color-gray-3};   --color-gray-80: #{$color-gray-80};
  --color-gray-6:   #{$color-gray-6};   --color-gray-60: #{$color-gray-60};
  --color-gray-9:   #{$color-gray-9};   --color-gray-40: #{$color-gray-40};
  --color-gray-c:   #{$color-gray-c};   --color-gray-20: #{$color-gray-20};
  --color-gray-e:   #{$color-gray-e};   --color-gray-10: #{$color-gray-10};
  --color-gray-f:   #{$color-gray-f};   --color-light:   #{$color-light};
  --color-lightest: #{$color-lightest};

  --color-minor: #{$color-gray-60};
  --color-minor-hover: #{$color-gray-40};

  --global-background-color: #{$color-light};
  --global-font-color: #{$color-gray-80};

  --global-frost-color:  #{rgba($color-lightest, 0.64)};
  --global-shadow-color: #{rgba($color-darkest, 0.08)};

}

@mixin dark {
  --color-darkest:  #{$color-lightest};
  --color-gray-1:   #{$color-gray-f};   --color-dark:    #{$color-light};
  --color-gray-3:   #{$color-gray-e};   --color-gray-80: #{$color-gray-10};
  --color-gray-6:   #{$color-gray-c};   --color-gray-60: #{$color-gray-20};
  --color-gray-9:   #{$color-gray-9};   --color-gray-40: #{$color-gray-40};
  --color-gray-c:   #{$color-gray-6};   --color-gray-20: #{$color-gray-60};
  --color-gray-e:   #{$color-gray-3};   --color-gray-10: #{$color-gray-80};
  --color-gray-f:   #{$color-gray-1};   --color-light:   #{$color-dark};
  --color-lightest: #{$color-darkest};

  --color-minor: #{$color-gray-40};
  --color-minor-hover: #{$color-gray-60};

  --global-background-color: #{$color-dark};
  --global-font-color: #{$color-gray-20};


  --global-frost-color:  #{rgba($color-darkest, 0.64)};
  --global-shadow-color: #{rgba($color-lightest, 0.08)};
}


html.light{
  @include light;
}

html.dark {
  @include dark;
}

:root {
  @include light;
}

@media (prefers-color-scheme: dark) {
  :root{
    @include dark;
  }
}