@use 'variables' as *;

:root{
  --color-major: #{$color-exodus-fruit};
  --color-major-toggle: #{$color-shy-moment};

  --color-minor: #{$color-gray-60};
  --color-minor-toggle: var(--color-major-toggle);

  --color-mute: #{$color-gray-40};
  --color-mute-toggle: var(--color-major-toggle)

  --color-inactive: var(--color-gray-40);
  --color-active: var(--color-major);
  --color-disabled: var(--color-gray-20);

  --color-warning: #{$color-bright-yarrow};
  --color-warning-toggle: #{$color-sour-lemon};

  --color-danger: #{$color-chi-gong};
  --color-danger-toggle: #{$color-pink-glamour};

  --color-error: #{$color-chi-gong};
  --color-error-toggle: #{$color-pink-glamour};
}

@mixin light {
  color-scheme: light;

  --color-darkest:  #{$color-darkest};
  --color-gray-1:   #{$color-gray-1};   --color-dark:    #{$color-dark};
  --color-gray-3:   #{$color-gray-3};   --color-gray-80: #{$color-gray-80};
  --color-gray-6:   #{$color-gray-6};   --color-gray-60: #{$color-gray-60};
  --color-gray-9:   #{$color-gray-9};   --color-gray-40: #{$color-gray-40};
  --color-gray-c:   #{$color-gray-c};   --color-gray-20: #{$color-gray-20};
  --color-gray-e:   #{$color-gray-e};   --color-gray-10: #{$color-gray-10};
  --color-gray-f:   #{$color-gray-f};   --color-light:   #{$color-light};
  --color-lightest: #{$color-lightest};

  --global-background-color: #{$color-light};
  --global-font-color: #{$color-gray-80};

  --global-frost-color:  #{rgba($color-lightest, 0.64)};
  --global-shadow-color: #{rgba($color-darkest, 0.08)};

}

@mixin dark {
  color-scheme: dark;

  --color-darkest:  #{$color-lightest};
  --color-gray-1:   #{$color-gray-f};   --color-dark:    #{$color-light};
  --color-gray-3:   #{$color-gray-e};   --color-gray-80: #{$color-gray-10};
  --color-gray-6:   #{$color-gray-c};   --color-gray-60: #{$color-gray-20};
  --color-gray-9:   #{$color-gray-9};   --color-gray-40: #{$color-gray-40};
  --color-gray-c:   #{$color-gray-6};   --color-gray-20: #{$color-gray-60};
  --color-gray-e:   #{$color-gray-3};   --color-gray-10: #{$color-gray-80};
  --color-gray-f:   #{$color-gray-1};   --color-light:   #{$color-dark};
  --color-lightest: #{$color-darkest};

  --global-background-color: #{$color-dark};
  --global-font-color: #{$color-gray-20};


  --global-frost-color:  #{rgba($color-darkest, 0.64)};
  --global-shadow-color: #{rgba($color-darkest, 0.32)};
}


html.light{
  @include light;
}

html.dark {
  @include dark;
}

:root {
  @include light;
}

@media (prefers-color-scheme: dark) {
  :root{
    @include dark;
  }
}