@use '@fontsource/material-symbols-outlined/100.css' as *;
@use '@fontsource/material-symbols-outlined/200.css' as *;
@use '@fontsource/material-symbols-outlined/300.css' as *;
@use '@fontsource/material-symbols-outlined/400.css' as *;
@use '@fontsource/material-symbols-outlined/500.css' as *;
@use '@fontsource/material-symbols-outlined/600.css' as *;
@use '@fontsource/material-symbols-outlined/700.css' as *;

@use 'variables' as *;

.font-condensed {
  font-family: $font-condensed;
}

.font-monospace {
  font-family: $font-monospace;
}

.font-icon {
  font-family: $font-icon;
}