@use 'variables' as *;

:root {
  --size-base:   #{$size-base};   // 8px

  --size-micro:  calc(var(--size-base) * 2); // 16px
  --size-mini:   calc(var(--size-base) * 3); // 24px
  --size-normal: calc(var(--size-base) * 4); // 32px
  --size-large:  calc(var(--size-base) * 5); // 40px
  --size-extra:  calc(var(--size-base) * 6); // 48px

  --size-0: 0;
  --size-1: var(--size-base);
  --size-2: calc(var(--size-base) * 2);
  --size-3: calc(var(--size-base) * 3);
  --size-4: calc(var(--size-base) * 4);
  --size-5: calc(var(--size-base) * 5);
  --size-6: calc(var(--size-base) * 6);

  --border-size:   #{$border-size};    // 2px
  --border-radius: #{$border-radius};  // 4px

  --gap-0: 0;
  --gap-1: var(--size-base);
  --gap-2: calc(var(--size-base) * 2);
  --gap-3: calc(var(--size-base) * 3);
  --gap-4: calc(var(--size-base) * 4);
}

.micro {
  --group-size: var(--size-micro);
}

.mini {
  --group-size: var(--size-mini);
}

.normal {
  --group-size: var(--size-normal);
}

.large {
  --group-size: var(--size-large);
  --icon-weight: 300;
}

.extra {
  --group-size: var(--size-extra);
  --icon-weight: 400;
}

.gap-0 {
  --gap: var(--gap-0);
}

.gap-1 {
  --gap: var(--gap-1);
}

.gap-2 {
  --gap: var(--gap-2);
}

.gap-3 {
  --gap: var(--gap-3);
}

.gap-4 {
  --gap: var(--gap-4);
}
