.running {

  &, [class$="__original"] {
    cursor: wait !important;
  }

  &:active {
    pointer-events: none;
  }
}

.disabled {
  &, [class$="__original"] {
    cursor: not-allowed !important;
  }

  &:active {
    pointer-events: none;
  }
}

// .success {
//   --color: var(--color-success);
// }

.warning {
  --color: var(--color-warning);

  &.hover,
  &:hover,
  &:focus,
  &.active,
  &:active {
    --color: var(--color-warning-toggle);
  }
}

.danger {
  --color: var(--color-danger);

  &.hover,
  &:hover,
  &:focus,
  &.active,
  &:active {
    --color: var(--color-danger-toggle);
  }
}

.error {
  --color: var(--color-error);

  &.hover,
  &:hover,
  &:focus,
  &.active,
  &:active {
    --color: var(--color-error-toggle);
  }
}