// Flat UI Colors 2 -- German Palette
$desire:             #EB3B5A;
$fusion-red:         #FC5C65;

$beniukon-bronze:    #FA8231;
$orange-hibiscus:    #FD9644;

$nyc-taxi:           #F7B731;
$flirtatious:        #FED330;

$algal-fuel:         #20BF6B;
$reptile-green:      #26DE81;

$turquoise-topaz:    #0FB9B1;
$maximum-blue-green: #2BCBBA;

$boyzone:            #2D98DA;
$high-blue:          #45AAF2;

$royal-blue:         #3867D6;
$c64-ntsc:           #4B7BEC;

$gloomy-purple:      #8854D0;
$lighter-purple:     #A55EEA;

$blue-horizon:       #4B6584;
$blue-grey:          #778CA3;


$innuendo:           #A5B1C2;
$twinkle-blue:       #D1D8E0;