// Flat UI Colors 1
$color-pomegranate:   #C0392B;
$color-alizarin:      #E74C3C;

$color-pumpkin:       #D35400;
$color-carrot:        #E67E22;

$color-orange:        #F39C12;
$color-sun-flower:    #F1C40F;

$color-nephritis:     #27AE60;
$color-emerald:       #2ECC71;

$color-green-sea:     #16A085;
$color-turquoise:     #1ABC9C;

$color-belize-hole:   #2980B9;
$color-peter-river:   #3498DB;

$color-midnight-blue: #2C3E50;
$color-wet-asphalt:   #1ABC9C;

$color-wisteria:      #8E44AD;
$color-amethyst:      #9B59B6;

$color-asbestos:      #7F8C8D;
$color-concrete:      #95A5A6;

$color-silver:        #BDC3C7;
$color-clouds:        #ECF0F1;