.widget-group {
  $this: &;

  --label-color: var(--color-minor);
  --size: var(--size-normal);
  --gap: calc(var(--size-base) * var(--gap-scale));

  display: flex;
  gap: var(--gap, var(--size-base));
  flex-direction: var(--direction);
  justify-content: var(--justify);
  flex-wrap: var(--wrap);

  align-items: center;

  max-width: 100%;

  &__label {
    color: var(--label-color);
    font-size: calc(var(--size) / 2 - var(--size) / 16);
    line-height: var(--size);

    .gap-0 & {
      margin: 0 var(--size-base) 0 0;
    }

    &::after {
      content: " : ";
    }
  }

  & + & {
    margin: var(--gap, var(--size-base)) 0 0;
  }

  &.disabled {
    --label-color: var(--color-disabled);
  }

  &.error {
    --label-color: var(--color-error);
  }

  &.whole {
    .rounded {
      --border-radius: var(--global-border-radius);
    }
    &.capsule{
      --border-radius: calc(var(--size) / 2);
    }
    .widget-button{
      border-radius: 0;
      &:first-child {
        border-radius: var(--border-radius) 0 0 var(--border-radius);
      }
      &:last-child {
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
      }
    }
  }

  &.gap-0 {
    .widget-button+.widget-button {
      margin-left: calc(var(--global-border-size) * -1);
    }
  }

  &.extra {
    --size: var(--size-extra);
    --group-size: var(--size-extra);
  }

  &.large {
    --size: var(--size-large);
    --group-size: var(--size-large);
  }

  &.mini {
    --size: var(--size-mini);
    --group-size: var(--size-mini);
    text-transform: capitalize;
  }

  &.micro {
    --size: var(--size-micro);
    --group-size: var(--size-micro);
    text-transform: lowercase;
  }
}
