.property-enums {
  margin: $size-base 0;
  font-size: $size-base * 2;
  line-height: $size-base * 3;

  &::before {
    content: ' : ';
  }

  & > span {
    &+&::before {
      content: ', ';
    }
  }

  .default {
    font-weight: bold;
  }
}